.share-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 120px;
    height: 35px;
    position: relative;
    border: 1px solid #81aca0;
    background-color: #209978;
    overflow: hidden;
    cursor: pointer;
    color: white;
  }
  .button__text {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17795e;
    position: absolute;
    right: 0;
    transition: all 0.3s;
  }
  .button__icon svg {
    width: 18px;
  }
  .share-button:hover .button__icon {
    width: 100%;
  }
  