.main_DataContainer{
    padding: 10px 0px 0px 20px;
    flex: 1 1;
}
.DataHeader{
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid lightgray;
    height: 40px;
}
    .DataHeader > .headerLeft {
        display: flex;
        align-items: center;
    }
    .DataHeader > .headerRight svg {
        margin:0px 10px;
    }
   .DataGrid{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
   }
   .DataFile{
    margin: 10px;
    padding: 10px 0px 0px 0px;
    min-width: 200px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(204 204 204 / 46%);
   }
    .DataFile > svg {
        font-size: 60px;
        color:gray
    }
    .DataFile > p {
        border-top: 1px solid #ccc;
        margin-top: 5px;
        font-size: 12px;
        background: whitesmoke;
        padding: 10px 0px;
    }

.DataListRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
    .DataListRow > p {
        display: flex;
        align-items: center;
        font-size: 13px;
    }
        .DataListRow > b {
            display: flex;
            align-items: center;
        }
        .DataListRow > svg {
            font-size: 22px;
            margin:10px
        }
        .share-icon {
            opacity: 0;
            background-color: gray;
            cursor: pointer;
            transition: opacity 0.3s ease; /* Add transition for smooth animation */
        }
        
        .DataListRow:hover .share-icon {
            opacity: 1;
        }
        .button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            transition: opacity 0.3s ease; 
            opacity: 0;
            cursor: pointer;
            border: 2px solid rgb(255, 201, 201);
            position: relative;
            overflow: hidden;
          }
          .bin-bottom {
            width: 15px;
            z-index: 2;
          }
          .bin-top {
            width: 17px;
            transform-origin: right;
            transition-duration: 0.3s;
            z-index: 2;
          }
          .button:hover .bin-top {
            transform: rotate(45deg);
          }
          .DataListRow:hover .button {
                background-color: rgb(249, 98, 98);
                opacity: 1;
        }
          .button:active {
            transform: scale(0.9);
          }
          .garbage {
            position: absolute;
            width: 14px;
            height: auto;
            z-index: 1;
            opacity: 0;
            transition: all 0.3s;
          }
          .button:hover .garbage {
            animation: throw 0.4s linear;
          }
          @keyframes throw {
            from {
              transform: translate(-400%, -700%);
              opacity: 0;
            }
            to {
              transform: translate(0%, 0%);
              opacity: 1;
            }
          }
          